# Entorno virtual
venv/
env/
.venv/

# Base de datos
db.sqlite3

# Archivos compilados de Python
__pycache__/
*.pyc

# Variables de entorno
.env

# Archivos de VSCode
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

